.menu{
 width: 60%;
 color: #fff;
;
 
}
.menu ul{
  display: flex;
  list-style: none;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  font-size: 1.5rem
}
.menu a{
  font-weight: 300;
 color:#fff;
  text-decoration: none;
 
}