
.Bar{
  background: transparent;

  width: 100%;
  display: flex;
  align-items: center;


}
.Menu{
  width: 60%;
height: 100px;
 align-items: center;

  display: flex;
  justify-content: space-around;
align-self: flex-end;
position: absolute;
right: 0;
top: 0;
 }
 .Icon{
position: absolute;
display: none;
 right: 20px;
 top: 10px;
 padding: 1rem;
}


@media screen and (min-width:0) and (max-width:720px){
  .Icon{
    display: block;
  }
  .Menu{
   display: none;
 
  }
  .Menu .open{
    transition:0.5s ;
    display: block;

 
  }
li{
  padding: 10px;
}

.Bar{
margin-top: 2.1rem;
  height: auto;
  width: 100%;
display: block;

background:rgba(0, 0, 0, 0.831);
}
}