.skills{
  display: flex;
position: relative;
  align-items: center;
  font-size: 2rem;
  height: 100%;
  
}
.skills h2{
  color: #fff;
position: absolute;
top: 0;
left: 50%;
transform: translate(-50%, -50%);
  
}
.boxCard{
 display: grid;
 grid-template-columns: repeat(3,1fr);
 gap: 30px;

}