.fundo{
  background:url('./img/bg.jpeg')no-repeat center / cover;
  color: #fff;
}
.frente{
  background:linear-gradient(180deg,#0F0013, #43017C,#0F0013);

  color: #000;
}
.primeira{
  height: 100vh;
  display: flex;
  flex-direction: column;


}