.Menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list .listItems {
  padding: 0;
  display: flex;
  list-style: none;
}
.list .listItems li {
  font-size: 1.2rem;
}
.list .listItems li a {
  color: #004aad;
  text-decoration: none;
  font-weight: 600;
  border-radius: 5px;
  padding: 10px;
}

.list .listItems a:hover {
  background: #004aad;
  transition: 0.8s;
  color: #fff;
}

@media screen and (min-width: 0) and (max-width: 720px) {
  

  .Menu img{
    width: 250px;
    margin: auto;

  
}
  .Menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
    text-align: center;
  
  }

  .icon {
    position: absolute;
    z-index: 5;
    top: 40px;   
    right: 15%;
    display: block;
    
  }

  .hamburguer {
    top: 50%;
    margin-left: 15px;
    left: 0;
    width: 25px;
    border-radius: 2px;
    height: 5px;
    position: absolute;
    background: #004aad;
    transition: 0.5s;
  }
  .hamburguer::before {
    top: -10px;
    content: "";
    position: absolute;
    width: 25px;
    height: 6px;
    left: 0;
    background: #004aad;
    transition: 0.5s;
  }
  .hamburguer::after {
    top: 10px;
    content: "";
    position: absolute;
    width: 25px;
    height: 6px;
    left: 0;
    background: #004aad;
    transition:ease-in-out .7ms;
  }
  .list {
    display: flex;
    flex-direction: column;
    left: 0;
    right: 0;
    margin-top: 10px;

    flex-wrap: nowrap;
    position: absolute;
    background: rgba(255,255,255,0.9);
  }
  .list .listItems {
    padding: 0;
    flex-direction: column;
    list-style: none;
   
  }
  .list .listItems li {
    margin: 5px;
    padding: 5px;
  }
  .list .listItems li a {
    color: #004aad;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
  }
  .icon.iconActive .hamburguer {
    background: transparent;
  }
  .icon.iconActive .hamburguer::after {
    top: 0;
    background: #004aad;
    transform: rotate(225deg);
  }
  .icon.iconActive .hamburguer::before {
    top: 0;
    background: #004aad;
    transform: rotate(135deg);
  }
  .menu.menuOpen {
    width: 100%;
    background: #fff;
  
    z-index: 4;
  }
  .menu.menuClose {
    display: none;
  }
}
