.banner {
  display: flex;
  flex-direction: row;
  text-align: center;
 justify-content: center;
 margin: 8rem auto;
  font-size: 2rem;
 }
 .banner .imagem{
   width: 350px;
   height: 350px;
   background: url('http://localhost:3000/static/media/luh02.d13e8a28f937e8867f7c.jpg')no-repeat center / cover;
   margin: 0 0 0 80px;
 }
 .banner p{
   margin: 0;
 }
 .banner .descricao{
   padding: 20px;
   display: block;
  
 }