@media screen and (min-width:0) and (max-width:720px){
  .banner {
   flex-direction: column;
   text-align: center;
margin: 0;
 
   font-size: 1.1rem;
  }
  .banner h2{
    margin: 0;
  }
  .banner .imagem{
    margin: 1.1rem auto;
    width: 250px;
    height: 250px;
    background: url('http://localhost:3000/static/media/luh02.d13e8a28f937e8867f7c.jpg')no-repeat center / cover;
  }
  .banner p{
    margin: 0;
  }
  .banner .descricao{
    flex-direction: column;
   padding: 0;
  }
 }